
{% extends "base.html" %}
{% block title %}Aluno Dashboard{% endblock %}
{% block content %}
<h1>Dashboard do Aluno</h1>
<div class="row mt-4">
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Meus Treinos</h5>
                <a href="#" class="btn btn-primary">Acessar</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Meu Progresso</h5>
                <a href="#" class="btn btn-primary">Acessar</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Minhas Faturas</h5>
                <a href="#" class="btn btn-primary">Acessar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
